.table-rankings {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
}

.rankings {
    width: 97%;
    border-collapse: collapse;
    margin: 0 auto;
}

.table-statistics {
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.link {
    text-decoration: none;
}