.apps-table {
    width: 98%;
    margin: 0 auto;
    text-align: left;
}

.span-2 {
    width: 60%;
}

.span-1 {
    width: 20%;
}

.tr-low {
    border-bottom: 1px solid rgb(255, 176, 0);
}

.data-row {
    padding-top: 5px;
}

.green {
    background-color: green;
}
